# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# PyCharm
.idea/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints

# Serialized model
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db
